---
layout: default
---
<div class="home">
    <!--<div class="me">-->
    <!--  <img src="http://shawnleberknight.com/images/c90a2090.me.jpg" width='130' height='130' class="myPic">-->
    <!--</div>-->

  <!-- <h1>Posts</h1> -->
  <div class="jumbotron">
    <div class="overlay"></div>
    <h1>code to live by</h1>
  </div>
  <div class="page-content">
    <div class="wrap">
      <ul class="posts">
        {% for post in site.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>



