---
layout: default
---
<div class="home">
    <!--<div class="me">-->
    <!--  <img src="http://shawnleberknight.com/images/c90a2090.me.jpg" width='130' height='130' class="myPic">-->
    <!--</div>-->

  <!-- <h1>Posts</h1> -->
  <div class="jumbotron">
    <div class="overlay"></div>
    <h1>code to live by</h1>
  </div>
  <div class="page-content">
    <div class="wrap">
      <ul class="posts">
        {% for post in paginator.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <!-- Pagination links -->
      <nav id="pagination">

          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/blog" title="Previous Page">&laquo; Previous</a>
            {% else %}
            <a href="/blog/{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
            {% endif %}
          {% endif %}
          
          {% if paginator.next_page %} 
          <a href="/blog/{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
          {% endif %} 
      </nav>

    </div>

  </div>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>



